#sidepanel-left {
    float: left ;
    width: 200px ;
    margin-left:-100%;
}

#sidepanel-right {
    float: left ;
    width: 240px ;
    margin-left:-240px;
}

#main-editarea {
    float: left ;
    width: 100% ;
}

#main-editarea form {
    margin-left: 210px ;
    margin-right: 250px ;

    border: 1px solid #CCC;
    padding: 5px;
}

#main-editarea form {
    min-height: 200px;
}

#main-editarea form.hoverclass {
    background-color: rgb(239, 245, 255)
}

#main-editarea .insert-pos{
    display: none ;
}

.control-props .control-group {
    display: none ;
}


