#sidepanel-left{}
	.accordion-inner{}
	.accordion-inner ul{padding:10px 0 0 20px; margin:0;}
	.accordion-inner li{margin-bottom:10px;}
	
#sidepanel-right {}
	#sidepanel-right .nav-tabs{margin:0;}
	#sidepanel-right .nav-tabs > li > a {padding:5px 15px 6px;}
	#sidepanel-right .panel-body{padding:15px 0;}
	#sidepanel-right .control-group{padding:6px 0; margin-top: 15px;}
	
#main-editarea {}
#main-editarea form {
   border: 1px solid #CCC;
   border-radius: 4px;
}
#main-editarea form  .form-group{padding:6px 0; margin: 15px 0 0 0;}
#main-editarea form {
   min-height: 200px;
   position: relative;
}

#main-editarea form.hoverclass {
   background-color: rgb(239, 245, 255)
}

#main-editarea .insert-pos{
   display: none ;
}

.control-props .control-group {
   display: none ;
}

.validator-rules{padding-left:10px; list-style:none;}
.validator-rules li{padding:6px 0;}
#validation .control-group {
   display: none ;
}

#main-editarea form .control-label{text-align:right;}
#main-editarea form .help-block{font-size:14px;}

li.control-item {
   list-style-type: none;
   line-height:22px ;
   cursor: pointer ;
}
.text-error{
    color: #e74c3c;
}



element.style {
   display: none;
}

#main-editarea form .tipbar {

   -webkit-background-size: 40px 40px;
   -moz-background-size: 40px 40px;
   background-size: 40px 40px;
   -moz-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.4);
   -webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.4);
   box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.4);
   font-size: 16px;
   overflow: visible;
   text-align: center;
   left: 0;
   top: 0;
   z-index: 10001;
   width: 100%;
   color: #fff;
   padding: 15px 0px;
   position: absolute;
   text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
   background-color: rgba(72,187,94,0.5);
   border-color: #309343;
   display: none ;
}


#main-editarea form .theformname {
    background-color: #e2e2e2;
    font-size: 16px;
    font-family: "微软雅黑";
    height: 39px;
    padding: 6px;
}

.validator-rules input {
   margin-bottom: 0px;
}