#sidepanel-left {
    float: left ;
    width: 200px ;
}

#sidepanel-right {
    float: right ;
    width: 260px ;
}

#main-editarea {
    margin-left: 200px ;
    margin-right: 260px ;
}

#main-editarea form {
    border: 1px solid #CCC;
    padding: 5px;
}

#main-editarea form {
    min-height: 200px;
}

#main-editarea form.hoverclass {
    background-color: rgb(239, 245, 255)
}

#main-editarea .insert-pos{
    display: none ;
}



