<link href="/ocxformer/public/style/formEditor.css" rel="stylesheet">
<script src="/ocxformer/public/lib/formEditor.js"></script>

<div>

  <div id="main-editarea">
    <form class="form-horizontal ocxformeditor">
      <div class="theformname" name="theformname">
        <legend>表单名</legend>
      </div>
    </form>
  </div>

  <div id="sidepanel-left">

    <div class="accordion">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#common-controls">
            预设
          </a>
        </div>

        <div id="common-controls" class="accordion-body collapse in" style="position: static;">
          <div class="accordion-inner">

            <ul>
              <li class="control-item" name="realname" data-control-props="name,title,textvalue,placeholder,help,inputsize">
                姓名
              </li>
              <li class="control-item" name="email" data-control-props="name,title,textvalue,placeholder,help,inputsize">
                Email
              </li>
              <li class="control-item" name="mobile" data-control-props="name,title,textvalue,placeholder,help,inputsize">
                移动电话
              </li>
              <li class="control-item" name="telephone" data-control-props="name,title,textvalue,placeholder,help,inputsize">
                固定电话
              </li>
              <li class="control-item" name="fax" data-control-props="name,title,textvalue,placeholder,help,inputsize">
                传真
              </li>
              <li class="control-item" name="addr" data-control-props="name,title,textvalue,placeholder,help,inputsize">
                地址
              </li>
              <li class="control-item" name="zipcode" data-control-props="name,title,textvalue,placeholder,help,inputsize">
                邮编
              </li>
              <li class="control-item" name="gender" data-control-props="name,title,selectoptions,inputsize">
                性别
              </li>
            </ul>

          </div>
        </div>
      </div>

      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#basic-controls">
            通用
          </a>
        </div>
        <div id="basic-controls" class="accordion-body collapse" style="position: static;">
          <div class="accordion-inner">

            <ul>

              <li class="control-item" name="textinput" data-control-props="name,title,textvalue,placeholder,help,inputsize">
                Text Input
              </li>

              <li class="control-item" name="prependedtext" data-control-props="name,title,textvalue,placeholder,help">
                Prepended Text
              </li>

              <li class="control-item" name="appendedtext" data-control-props="name,title,textvalue,placeholder,help">
                Appended Text
              </li>

              <li class="control-item" name="prependedcheckbox" data-control-props="name,title,textvalue,placeholder,help">
                Prepended Checkbox
              </li>

              <li class="control-item" name="appendedcheckbox" data-control-props="name,title,textvalue,placeholder,help">
                Appended Checkbox
              </li>

              <li class="control-item" name="textarea" data-control-props="name,title,textvalue,placeholder,help,inputsize">
                Text Area
              </li>

              <li class="control-item" name="multipleradios" data-control-props="name,title,multipleradios">
                Multiple Radios
              </li>

              <li class="control-item" name="multiplecheckboxes" data-control-props="name,title,multiplecheckboxes">
                Multiple Checkboxes
              </li>

              <li class="control-item" name="selectbasic" data-control-props="name,title,selectoptions,inputsize">
                Select Basic
              </li>

              <li class="control-item" name="selectmultiple" data-control-props="name,title,selectoptions,inputsize">
                Select Multiple
              </li>

              <li class="control-item" name="theformname" style="display:none" data-control-props="theformname">The Form Name</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div id="sidepanel-right">
    <div class="control-props">
      <h5>属性</h5>

      <div class="control-group" data-prop-name="name">
        <label class="control-label">名称(name)</label>
        <div class="controls">
          <input name="name" type="text" placeholder="保存到数据库中的字段值" class="input">
        </div>
      </div>

      <div class="control-group" data-prop-name="title">
        <label class="control-label" for="textinput">标题</label>
        <div class="controls">
          <input name="title" type="text" placeholder="" class="input">
        </div>
      </div>

      <div class="control-group" data-prop-name="textvalue">
        <label class="control-label" for="textvalue">文本值</label>
        <div class="controls">
          <input name="textvalue" type="text" placeholder="" class="input">
        </div>
      </div>

      <div class="control-group" data-prop-name="placeholder">
        <label class="control-label" for="placeholder">提示</label>
        <div class="controls">
          <input name="placeholder" type="text" placeholder="" class="input">
        </div>
      </div>

      <div class="control-group" data-prop-name="help">
        <label class="control-label" for="help">帮助</label>
        <div class="controls">
          <input name="help" type="text" placeholder="" class="input">
        </div>
      </div>

      <!-- Select Basic -->
      <div class="control-group" data-prop-name="inputsize">
        <label class="control-label">尺寸</label>
        <div class="controls">
          <select name="inputsize" class="input">
            <option value="input-mini">mini</option>
            <option value="input-small">small</option>
            <option value="input-medium">medium</option>
            <option value="input-large">large</option>
            <option value="input-xlarge">xlarge</option>
            <option value="input-xxlarge">xxlarge</option>
          </select>
        </div>
      </div>

      <!-- Multiple Items -->
      <div class="control-group" data-prop-name="multipleitems">
        <label class="control-label">选项</label>
        <textarea class="field" data-type="textarea-split" style="min-height: 200px" edit_id="eta_13"></textarea>
      </div>

      <!-- The form name -->
      <div class="control-group" data-prop-name="theformname">
        <label class="control-label">表单名称</label>
        <input name="theformname" type="text" placeholder="" class="input">
      </div>

    </div>
  </div>

  <div style="clear:both"></div>

</div>


<div id="control-templates" style="display:none">

  <!-- Text input-->
  <div class="control-group" name="textinput">
    <label class="control-label" for="input01">Text input</label>
    <div class="controls">
      <input type="text" placeholder="placeholder" class="input-xlarge">
      <p class="help-block">Supporting help text</p>
    </div>
  </div>

  <div class="control-group" name="prependedtext">

    <!-- Prepended text-->
    <label class="control-label">Prepended text</label>
    <div class="controls">
      <div class="input-prepend">
        <span class="add-on">^_^</span>
        <input class="span2" placeholder="placeholder" id="prependedInput" type="text">
      </div>
      <p class="help-block">Supporting help text</p>
    </div>

  </div>

  <div class="control-group" name="appendedtext">

    <!-- Appended input-->
    <label class="control-label">Appended text</label>
    <div class="controls">
      <div class="input-append">
        <input class="span2" placeholder="placeholder" type="text">
        <span class="add-on">^_^</span>
      </div>
      <p class="help-block">Supporting help text</p>
    </div>

  </div>

  <div class="control-group" name="prependedcheckbox">

    <!-- Prepended checkbox -->
    <label class="control-label">Prepended checkbox</label>
    <div class="controls">
      <div class="input-prepend">
        <span class="add-on">
          <label class="checkbox">
            <input type="checkbox" class="">
          </label>
        </span>
        <input class="span2" placeholder="placeholder" type="text">
      </div>
      <p class="help-block">Supporting help text</p>
    </div>

  </div>

  <div class="control-group" name="appendedcheckbox">

    <!-- Appended checkbox -->
    <label class="control-label">Append checkbox</label>
    <div class="controls">
      <div class="input-append">
        <input class="span2" placeholder="placeholder" type="text">
        <span class="add-on">
          <label class="checkbox" for="appendedCheckbox">
            <input type="checkbox" class="">
          </label>
        </span>
      </div>
      <p class="help-block">Supporting help text</p>
    </div>
  </div>

  <div class="control-group" name="textarea">

    <!-- Textarea -->
    <label class="control-label">Textarea</label>
    <div class="controls">
      <div class="textarea">
        <textarea type="" class=""> </textarea>
      </div>
    </div>
  </div>

  <!-- Multiple Radios -->
  <div class="control-group" name="multipleradios">
    <label class="control-label">Multiple Radios</label>
    <div class="controls">
      <label class="radio">
        <input type="radio" name="radios" value="Option one">
        Option one
      </label>
      <label class="radio">
        <input type="radio" name="radios" value="Option two">
        Option two
      </label>
    </div>
  </div>

  <!-- Multiple Checkboxes -->
  <div class="control-group" name="multiplecheckboxes">
    <label class="control-label">Multiple Checkboxes</label>
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox" name="checkbox" value="Option one">
        Option one
      </label>
      <label class="checkbox">
        <input type="checkbox" name="checkbox" value="Option two">
        Option two
      </label>
    </div>
  </div>

  <!-- Select Basic -->
  <div class="control-group" name="selectbasic">
    <label class="control-label">Select Basic</label>
    <div class="controls">
      <select class="input-xlarge">
        <option>Option one</option>
        <option>Option two</option>
      </select>
    </div>
  </div>

  <!-- Select Multiple -->
  <div class="control-group" name="selectmultiple">
    <label class="control-label">Select Multiple</label>
    <div class="controls">
      <select name="selectmultiple" class="input-xlarge" multiple="multiple">
        <option>Option one</option>
        <option>Option two</option>
      </select>
    </div>
  </div>
  
  <!-- ---------------- -->

  <div class="control-group" name="realname">
    <label class="control-label">姓名</label>
    <div class="controls">
      <input type="text" placeholder="请输入真实用户姓名" class="input-xlarge" name="realname">
      <p class="help-block">真实用户姓名</p>
    </div>
  </div>
  <div class="control-group" name="email">
    <label class="control-label">电子邮件</label>
    <div class="controls">
      <input type="text" placeholder="请输入电子邮件" class="input-xlarge" name="email">
      <p class="help-block">电子邮件(email)</p>
    </div>
  </div>
  <div class="control-group" name="mobile">
    <label class="control-label">移动电话</label>
    <div class="controls">
      <input type="text" placeholder="请输入移动电话号码" class="input-xlarge" name="mobile">
      <p class="help-block">移动电话的号码</p>
    </div>
  </div>
  <div class="control-group" name="telephone">
    <label class="control-label">固定电话</label>
    <div class="controls">
      <input type="text" placeholder="请输入固定电话号码" class="input-xlarge" name="telephone">
      <p class="help-block">家庭或办公室的电话号码</p>
    </div>
  </div>
  <div class="control-group" name="fax">
    <label class="control-label">传真</label>
    <div class="controls">
      <input type="text" placeholder="请输入传真号码" class="input-xlarge" name="fax">
      <p class="help-block">家庭或办公室的传真号码</p>
    </div>
  </div>
  <div class="control-group" name="addr">
    <label class="control-label">地址</label>
    <div class="controls">
      <input type="text" placeholder="请输入通讯地址" class="input-xlarge" name="addr">
      <p class="help-block">通讯地址</p>
    </div>
  </div>
  <div class="control-group" name="zipcode">
    <label class="control-label">邮编</label>
    <div class="controls">
      <input type="text" placeholder="请输入邮政编码" class="input-small" name="zipcode">
      <p class="help-block">邮政编码</p>
    </div>
  </div>
  <div class="control-group" name="gender">
    <label class="control-label">性别</label>
    <div class="controls">
      <select class="input-small" name="gender">
        <option selected>保密</option>
        <option>女</option>
        <option>男</option>
      </select>
    </div>
  </div>
  
</div>


