<link href="/ocxformer/public/style/formEditor.css" rel="stylesheet">

<div>

  <div id="main-editarea">
    <form class="form-horizontal ocxformeditor">
      <div class="tipbar">
	<p>
	  <i class="icon-move"></i>
	  可以拖动表单中的控件调整位置；
	</p>
	<p>
	  <i class="icon-trash"></i>
	  或者将控件拖动到表单外释放移除控件。
	</p>
      </div>

      <div class="theformname" name="theformname">
        <legend>表单名</legend>
      </div>

    </form>
  </div>

  <div id="sidepanel-left">

    <div class="accordion">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#common-controls">
            预设
          </a>
        </div>

        <div id="common-controls" class="accordion-body collapse in" style="position: static;">
          <div class="accordion-inner">

            <ul>
              <li class="control-item" name="realname" data-control-props="titlestyle,controlstyle,name,title,textvalue,placeholder,inputsize,validation,validationmessage">
                姓名
              </li>
              <li class="control-item" name="email" data-control-props="titlestyle,controlstyle,name,title,textvalue,placeholder,inputsize,validation,validationmessage">
                Email
              </li>
              <li class="control-item" name="mobile" data-control-props="titlestyle,controlstyle,name,title,textvalue,placeholder,inputsize,validation,validationmessage">
                移动电话
              </li>
              <li class="control-item" name="telephone" data-control-props="titlestyle,controlstyle,name,title,textvalue,placeholder,inputsize,validation,validationmessage">
                固定电话
              </li>
              <li class="control-item" name="fax" data-control-props="titlestyle,controlstyle,name,title,textvalue,placeholder,inputsize">
                传真
              </li>
              <li class="control-item" name="addr" data-control-props="titlestyle,controlstyle,name,title,textvalue,placeholder,inputsize,validation,validationmessage">
                地址
              </li>
              <li class="control-item" name="zipcode" data-control-props="titlestyle,controlstyle,name,title,textvalue,placeholder,inputsize,validation,validationmessage">
                邮编
              </li>
              <li class="control-item" name="gender" data-control-props="titlestyle,controlstyle,name,title,selectoptions,inputsize,validation,validationmessage">
                性别
              </li>
            </ul>

          </div>
        </div>
      </div>

      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#basic-controls">
            通用
          </a>
        </div>
        <div id="basic-controls" class="accordion-body collapse" style="position: static;">
          <div class="accordion-inner">

            <ul>

              <li class="control-item" name="textinput" data-control-props="titlestyle,controlstyle,name,title,textvalue,placeholder,inputsize,validation,validationmessage">
                Text Input
              </li>

              <li class="control-item" name="prependedtext" data-control-props="titlestyle,controlstyle,name,title,textvalue,placeholder,validation,validationmessage">
                Prepended Text
              </li>

              <li class="control-item" name="appendedtext" data-control-props="titlestyle,controlstyle,name,title,textvalue,placeholder,validation,validationmessage">
                Appended Text
              </li>

              <li class="control-item" name="prependedcheckbox" data-control-props="titlestyle,controlstyle,name,title,textvalue,placeholder,validation,validationmessage">
                Prepended Checkbox
              </li>

              <li class="control-item" name="appendedcheckbox" data-control-props="titlestyle,controlstyle,name,title,textvalue,placeholder,validation,validationmessage">
                Appended Checkbox
              </li>

              <li class="control-item" name="textarea" data-control-props="titlestyle,controlstyle,name,title,textvalue,placeholder,inputsize,validation,validationmessage">
                Text Area
              </li>

              <li class="control-item" name="multipleradios" data-control-props="titlestyle,controlstyle,name,title,multipleradios,validation,validationmessage">
                Multiple Radios
              </li>

              <li class="control-item" name="multiplecheckboxes" data-control-props="titlestyle,controlstyle,name,title,multiplecheckboxes,validation,validationmessage">
                Multiple Checkboxes
              </li>

              <li class="control-item" name="selectbasic" data-control-props="titlestyle,controlstyle,name,title,selectoptions,inputsize,validation,validationmessage">
                Select Basic
              </li>

              <li class="control-item" name="selectmultiple" data-control-props="titlestyle,controlstyle,name,title,selectoptions,inputsize,validation,validationmessage">
                Select Multiple
              </li>

              <li class="control-item" name="theformname" style="display:none" data-control-props="theformname">The Form Name</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="accordion-group">
	<div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" href="#advcontrols">
            高级
          </a>
	</div>

	<div id="advcontrols" class="accordion-body collapse" style="position: static;">
	    <span style="margin-left:30px;line-height:40px;">coming soon ... ...</span>
	</div>
      </div>

    </div>
  </div>

</div>

<div id="sidepanel-right">

  <ul class="nav nav-tabs" id="myTab">
    <li class="active">
      <a href="#control-props" data-toggle="tab">
        <i class="icon-tags"></i>属性
      </a>
    </li>
    <li>
      <a href="#validation" data-toggle="tab">
        <i class="icon-ok"></i>输入检查
      </a>
    </li>
  </ul>
  <div class="tab-content">
    <div id="validation" class="tab-pane">

      <div style="height:20px">
          <a class="btn btn-small test-validation-rules" style='float:right' href="javascript:void(0)"><i class="icon-wrench"></i></a>
      </div>

      <div class="control-group" data-prop-name="validation">

	<label class="control-label">检查规则</label>

        <ul class="validator-rules" style='clear:both; margin-top:10px'></ul>
        <select name="vtype" class="input-large" style="margin-left:24px">
          <option>+ 添加输入检查规则</option>
          <optgroup>
            <option value="min" defaultSetting='4'>最小长度/数量</option>
            <option value="max" defaultSetting='20'>最大长度/数量</option>
            <option value="notempty">不允许为空</option>
            <option value="email">邮箱格式</option>
            <option value="date">日期格式</option>
            <option value="num">数字（整数或小数）</option>
            <option value="int">整数</option>
            <option value="telnumber">固定电话或传真</option>
            <option value="mobilenumber">移动电话</option>
            <option value="regexp" defaultSetting='/.+/'>正则表达式</option>
          </optgroup>
        </select>
      </div>

      <div class="control-group" data-prop-name="validationmessage">
        <label class="control-label">错误消息</label>
        <div class="controls">
          <input name="validationmessage" type="text" placeholder="" class="input-large">
        </div>
      </div>

    </div>

    <div id="control-props" class="control-props tab-pane active">

      <div class="control-group" data-prop-name="name">
        <label class="control-label">名称(name)</label>
        <div class="controls">
          <input name="name" type="text" placeholder="保存到数据库中的字段值" class="input-large">
        </div>
      </div>

      <div class="control-group" data-prop-name="title">
        <label class="control-label" for="textinput">标题</label>
        <div class="controls">
          <input name="title" type="text" placeholder="" class="input-large">
        </div>
      </div>

      <div class="control-group" data-prop-name="titlestyle">
        <label class="control-label">标题样式</label>
        <div class="controls">
          <select name="titlestyle" class="input-large">
            <option value="">无</option>
            <option value="text-warning">warning</option>
            <option value="text-error">error</option>
            <option value="text-info">info</option>
            <option value="text-success">success</option>
          </select>
        </div>
      </div>

      <div class="control-group" data-prop-name="controlstyle">
        <label class="control-label">控件样式</label>
        <div class="controls">
          <select name="controlstyle" class="input-large">
            <option value="">无</option>
            <option value="warning" class="">warning</option>
            <option value="error">error</option>
            <option value="info">info</option>
            <option value="success">success</option>
          </select>
        </div>
      </div>

      <div class="control-group" data-prop-name="textvalue">
        <label class="control-label" for="textvalue">文本值</label>
        <div class="controls">
          <input name="textvalue" type="text" placeholder="" class="input-large">
        </div>
      </div>

      <div class="control-group" data-prop-name="placeholder">
        <label class="control-label" for="placeholder">提示</label>
        <div class="controls">
          <input name="placeholder" type="text" placeholder="" class="input-large">
        </div>
      </div>

      <!-- Select Basic -->
      <div class="control-group" data-prop-name="inputsize">
        <label class="control-label">尺寸</label>
        <div class="controls">
          <select name="inputsize" class="input-large">
	    <option value="">默认</option>
            <option value="input-mini">mini</option>
            <option value="input-small">small</option>
            <option value="input-medium">medium</option>
            <option value="input-large">large</option>
            <option value="input-xlarge">xlarge</option>
            <option value="input-xxlarge">xxlarge</option>
          </select>
        </div>
      </div>


      <!-- Multiple Items -->
      <div class="control-group" data-prop-name="multipleitems">
        <label class="control-label">选项</label>
        <textarea class="field-large" data-type="textarea-split" style="width:210px; min-height: 200px" edit_id="eta_13"></textarea>
      </div>

      <!-- The form name -->
      <div class="control-group" data-prop-name="theformname">
        <label class="control-label">表单名称</label>
        <input name="theformname" type="text" placeholder="" class="input-large">
      </div>

    </div>
  </div>

  <div style="clear:both"></div>

</div>


<div id="control-templates" style="display:none">

  <!-- Text input-->
  <div class="control-group" name="textinput">
    <label class="control-label" for="input01">Text input</label>
    <div class="controls">
      <input type="text" placeholder="placeholder" class="input-xlarge">
      <p class="help-block">Supporting help text</p>
    </div>
  </div>

  <div class="control-group" name="prependedtext">

    <!-- Prepended text-->
    <label class="control-label">Prepended text</label>
    <div class="controls">
      <div class="input-prepend">
        <span class="add-on">^_^</span>
        <input class="span2" placeholder="placeholder" id="prependedInput" type="text">
      </div>
      <p class="help-block">Supporting help text</p>
    </div>

  </div>

  <div class="control-group" name="appendedtext">

    <!-- Appended input-->
    <label class="control-label">Appended text</label>
    <div class="controls">
      <div class="input-append">
        <input class="span2" placeholder="placeholder" type="text">
        <span class="add-on">^_^</span>
      </div>
      <p class="help-block">Supporting help text</p>
    </div>

  </div>

  <div class="control-group" name="prependedcheckbox">

    <!-- Prepended checkbox -->
    <label class="control-label">Prepended checkbox</label>
    <div class="controls">
      <div class="input-prepend">
        <span class="add-on">
          <label class="checkbox">
            <input type="checkbox" class="">
          </label>
        </span>
        <input class="span2" placeholder="placeholder" type="text">
      </div>
      <p class="help-block">Supporting help text</p>
    </div>

  </div>

  <div class="control-group" name="appendedcheckbox">

    <!-- Appended checkbox -->
    <label class="control-label">Append checkbox</label>
    <div class="controls">
      <div class="input-append">
        <input class="span2" placeholder="placeholder" type="text">
        <span class="add-on">
          <label class="checkbox" for="appendedCheckbox">
            <input type="checkbox" class="">
          </label>
        </span>
      </div>
      <p class="help-block">Supporting help text</p>
    </div>
  </div>

  <div class="control-group" name="textarea">

    <!-- Textarea -->
    <label class="control-label">Textarea</label>
    <div class="controls">
      <div class="textarea">
        <textarea type="" class=""> </textarea>
      </div>
    </div>
  </div>

  <!-- Multiple Radios -->
  <div class="control-group" name="multipleradios">
    <label class="control-label">Multiple Radios</label>
    <div class="controls">
      <label class="radio">
        <input type="radio" name="radios" value="Option one">
        Option one
      </label>
      <label class="radio">
        <input type="radio" name="radios" value="Option two">
        Option two
      </label>
    </div>
  </div>

  <!-- Multiple Checkboxes -->
  <div class="control-group" name="multiplecheckboxes">
    <label class="control-label">Multiple Checkboxes</label>
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox" name="checkbox" value="Option one">
        Option one
      </label>
      <label class="checkbox">
        <input type="checkbox" name="checkbox" value="Option two">
        Option two
      </label>
    </div>
  </div>

  <!-- Select Basic -->
  <div class="control-group" name="selectbasic">
    <label class="control-label">Select Basic</label>
    <div class="controls">
      <select class="input-xlarge">
        <option>Option one</option>
        <option>Option two</option>
      </select>
    </div>
  </div>

  <!-- Select Multiple -->
  <div class="control-group" name="selectmultiple">
    <label class="control-label">Select Multiple</label>
    <div class="controls">
      <select name="selectmultiple" class="input-xlarge" multiple="multiple">
        <option>Option one</option>
        <option>Option two</option>
      </select>
    </div>
  </div>

  <!-- ---------------- -->

  <div class="control-group" name="realname">
    <label class="control-label">姓名</label>
    <div class="controls">
      <input type="text" placeholder="请输入真实用户姓名" class="input-xlarge" name="realname" v:min="2" v:max="20">
      <p class="help-block"></p>
    </div>
  </div>
  <div class="control-group" name="email">
    <label class="control-label">电子邮件</label>
    <div class="controls">
      <input type="text" placeholder="请输入电子邮件" class="input-xlarge" name="email" v:min="6" v:max="60" v:email>
      <p class="help-block"></p>
    </div>
  </div>
  <div class="control-group" name="mobile">
    <label class="control-label">移动电话</label>
    <div class="controls">
      <input type="text" placeholder="请输入移动电话号码" class="input-xlarge" name="mobile" v:mobilenumber>
      <p class="help-block"></p>
    </div>
  </div>
  <div class="control-group" name="telephone">
    <label class="control-label">固定电话</label>
    <div class="controls">
      <input type="text" placeholder="请输入固定电话号码" class="input-xlarge" name="telephone" v:telnumber>
      <p class="help-block"></p>
    </div>
  </div>
  <div class="control-group" name="fax">
    <label class="control-label">传真</label>
    <div class="controls">
      <input type="text" placeholder="请输入传真号码" class="input-xlarge" name="fax" v:telnumber>
      <p class="help-block"></p>
    </div>
  </div>
  <div class="control-group" name="addr">
    <label class="control-label">地址</label>
    <div class="controls">
      <input type="text" placeholder="请输入通讯地址" class="input-xlarge" name="addr" v:min="4" v:max="40">
      <p class="help-block"></p>
    </div>
  </div>
  <div class="control-group" name="zipcode">
    <label class="control-label">邮编</label>
    <div class="controls">
      <input type="text" placeholder="请输入邮政编码" class="input-small" name="zipcode" v:zipcode>
      <p class="help-block"></p>
    </div>
  </div>
  <div class="control-group" name="gender">
    <label class="control-label">性别</label>
    <div class="controls">
      <select class="input-small" name="gender">
        <option selected>保密</option>
        <option>女</option>
        <option>男</option>
      </select>
    </div>
  </div>

</div>


